@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --bg-header: #1f2937;
    --bg-footer: #1f2937;
    --bg-cta: #3882f6;
    --bg-quote: #e5e7eb;
    --color-btn: #3882f6;
    --color-logo: #f9faf8;
    --color-hero: #f9faf8;
    --color-link: #e5e7eb;
    --color-hero-p: #e5e7eb;
    --color-text: #1f2937;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    border: 1px solid red;
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2%;
}

.logo {
    font-size: clamp(18px, 4vw, 36px);
    color: var(--color-logo);
    margin-inline: 10%;
}

.nav-bar {
    border: 1px solid red;
    margin-right: 20%;
}

.nav-bar > ul {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > li {
    margin-inline: 10%;
    font-size: clamp(10px, 2vw, 18px);
    color: var(--color-link);
}

ul > li::marker {
    content: '🔹';
}

.hero {
    border: 1px solid red;
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4% 2%;
}

.hero-container {
    border: 1px solid red;
    max-width: 45%;
}

.hero-container > h2 {
    border: 1px solid red;
    color: var(--color-hero);
    font-size: clamp(16px, 4vw, 48px);
    font-weight: bolder;
    padding: 2%;
}

.hero-container > p {
    border: 1px solid red;
    color: var(--color-hero-p);
    font-size: clamp(8px, 2vw, 18px);
    padding: 2%;
}

.hero-img {
    border: 1px solid red;
    width: clamp(150px, 30%, 400px);
}

.btn {
    background-color: var(--color-btn);
    color: var(--color-hero-p);
    font-size: clamp(10px, 2vw, 18px);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 2% 5%;
    cursor: pointer;
}

.info {
    border: 1px solid red;
    background-color: var(--color-hero);
    padding: 4% 2%;
}

.info > h2 {
    color: var(--color-text);
    font-size: clamp(18px, 3vw, 36px);
    text-align: center;
}

.info-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 660px) {
        flex-direction: row;
    }
}

.info-wrapper {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .info-img {
    border: 1px solid red;
    width: 100px;
    height: 100px;
} */

.img {
    border: 1px solid red;
    width: clamp(80px, 60%, 150px);
    height: auto;
    border: 4px solid var(--color-btn);
    border-radius: 10px;
    @media screen and (min-width: 660px) {
        width: clamp(100px, 70%, 200px);
        height: auto;
    }
}

.info-container p {
    font-size: clamp(12px, 2vw, 14px);
    text-align: center;
    text-wrap: balance
}

.quote {
    background-color: var(--bg-quote);
}

.quote-fig {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
}

.quote-p {
    font-size: clamp(14px, 2vw, 16px);
    text-wrap: balance;
    margin-bottom: 3%;
}

.quote-cap {
    text-align: right;
    font-size: clamp(14px, 2.5vw, 26px);
}

.ctn {
    border: 1px solid red;
    background-color: var(--color-hero);
    padding: 4% 2%;
}