@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --bg-header: #1f2937;
    --bg-footer: #1f2937;
    --bg-cta: #3882f6;
    --bg-quote: #e5e7eb;
    --color-btn: #3882f6;
    --color-logo: #f9faf8;
    --color-hero: #f9faf8;
    --color-link: #e5e7eb;
    --color-hero-p: #e5e7eb;
    --color-text: #1f2937;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    border: 1px solid red;
    background-color: var(--bg-header);
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2%;
}

.logo {
    font-size: clamp(18px, 4vw, 36px);
    color: var(--color-logo);
    margin-inline: 10%;
}

.nav-bar {
    border: 1px solid red;
    margin-right: 20%;
}

.nav-bar > ul {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > li {
    margin-inline: 10%;
    font-size: clamp(10px, 2vw, 18px);
    color: var(--color-link);
}

ul > li::marker {
    content: '🔹';
}

.hero {
    border: 1px solid red;
    background-color: var(--bg-header);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4% 2%;
}

.hero-container > h2 {
    border: 1px solid red;
    color: var(--color-hero);
    font-size: clamp(16px, 4vw, 48px);
    font-weight: bolder;
    white-space: nowrap;
    padding: 2%;
}

.hero-container > p {
    border: 1px solid red;
    color: var(--color-hero-p);
    font-size: clamp(10px, 2vw, 18px);
    padding: 2%;
}

.hero-img {
    border: 1px solid red;
    width: clamp(150px, 30%, 400px);
}

.btn {
    background-color: var(--color-btn);
    color: var(--color-hero-p);
    font-size: clamp(10px, 2vw, 18px);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 2% 5%;
    cursor: pointer;
}

.info {
    border: 1px solid red;
    background-color: var(--color-hero);
    padding: 4% 2%;
}

.info > h2 {
    color: var(--color-text);
    font-size: clamp(18px, 3vw, 36px);
    text-align: center;
}

.info-wrapper {
    border: 1px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 6% 2%;
    @media screen and (min-width: 650px) {
        flex-direction: row;
    }
}

.info-container {
    border: 1px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-text);
}

.info-container p {
    padding-top: 8%;
    font-size: clamp(10px, 2vw, 14px);
    text-align: center;
}

.info-img2 {
    width: clamp(100px, 5vw, 300px);
    height: clamp(100px, 5vw, 300px);
    border: 3px solid var(--color-btn);
    border-radius: 10px;
    background-image: url(../images/img2.jpg);
    background-size: cover;
}

.info-img3 {
    width: clamp(100px, 3vw, 300px);
    height: clamp(100px, 3vw, 300px);
    border: 3px solid var(--color-btn);
    border-radius: 10px;
    background-image: url(../images/img3.jpg);
    background-size: cover;
}

.info-img4 {
    width: clamp(100px, 3vw, 300px);
    height: clamp(100px, 3vw, 300px);
    border: 3px solid var(--color-btn);
    border-radius: 10px;
    background-image: url(../images/img4.jpg);
    background-size: cover;
}

.info-img5 {
    width: clamp(100px, 3vw, 350px);
    height: clamp(100px, 3vw, 350px);
    border: 3px solid var(--color-btn);
    border-radius: 10px;
    background-image: url(../images/img5.jpg);
    background-size: cover;
}
